/*

Oracle colors based on github style by Jody Glover

*/
.hljs{display:block;padding:.5em;color:#333;background:transparent}
	
.hljs-comment,.hljs-quote{color:#759C6C;font-style:italic}
	
.hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#312D2A;font-weight:700}

.hljs-literal,.hljs-number,.hljs-tag .hljs-attr,.hljs-template-variable,.hljs-variable{color:#41817E}

.hljs-doctag,.hljs-string{color:#312D2A}

.hljs-section,.hljs-selector-id,

.hljs-title{color:#2C5967;font-weight:700}

.hljs-subst{font-weight:400}

.hljs-class .hljs-title,.hljs-type{color:#458;font-weight:700}

.hljs-attribute,.hljs-name,.hljs-tag{color:navy;font-weight:400}

.hljs-link,.hljs-regexp{color:#009926}

.hljs-bullet,.hljs-symbol{color:#990073}

.hljs-built_in,.hljs-builtin-name{color:#AE562C;}

.hljs-meta{color:#999;font-weight:700}

.hljs-deletion{background:#fdd}

.hljs-addition{background:#dfd}

.hljs-emphasis{font-style:italic}

.hljs-strong{font-weight:700}